/* 
    Document   : responsive-s
    Created on : 08/07/2013, 11:47:06 AM
    Author     : caij
    Description:
        Purpose of the stylesheet follows.
*/

root { 
  display: block;
}

